ServiceRepository/splitNumbersMath.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.simplemath/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.simplemath/" name="SimpleMathWebServiec">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.simplemath/" schemaLocation="http://192.168.13.128:8080/SimpleMathWS/SimpleMathWebServiec?xsd=1"/>
</xsd:schema>
</types>
<message name="equalsSimpleMath">
<part name="parameters" element="tns:equalsSimpleMath"/>
</message>
<message name="equalsSimpleMathResponse">
<part name="parameters" element="tns:equalsSimpleMathResponse"/>
</message>
<message name="sqrtSimpleMath">
<part name="parameters" element="tns:sqrtSimpleMath"/>
</message>
<message name="sqrtSimpleMathResponse">
<part name="parameters" element="tns:sqrtSimpleMathResponse"/>
</message>
<message name="modSimpleMath">
<part name="parameters" element="tns:modSimpleMath"/>
</message>
<message name="modSimpleMathResponse">
<part name="parameters" element="tns:modSimpleMathResponse"/>
</message>
<message name="readOneSimpleMath">
<part name="parameters" element="tns:readOneSimpleMath"/>
</message>
<message name="readOneSimpleMathResponse">
<part name="parameters" element="tns:readOneSimpleMathResponse"/>
</message>
<message name="differentSimpleMath">
<part name="parameters" element="tns:differentSimpleMath"/>
</message>
<message name="differentSimpleMathResponse">
<part name="parameters" element="tns:differentSimpleMathResponse"/>
</message>
<message name="negativeSimpleMath">
<part name="parameters" element="tns:negativeSimpleMath"/>
</message>
<message name="negativeSimpleMathResponse">
<part name="parameters" element="tns:negativeSimpleMathResponse"/>
</message>
<message name="sumSimpleMath">
<part name="parameters" element="tns:sumSimpleMath"/>
</message>
<message name="sumSimpleMathResponse">
<part name="parameters" element="tns:sumSimpleMathResponse"/>
</message>
<message name="readNumbersSimpleMath">
<part name="parameters" element="tns:readNumbersSimpleMath"/>
</message>
<message name="readNumbersSimpleMathResponse">
<part name="parameters" element="tns:readNumbersSimpleMathResponse"/>
</message>
<message name="readTwoNumbersSimpleMath">
<part name="parameters" element="tns:readTwoNumbersSimpleMath"/>
</message>
<message name="readTwoNumbersSimpleMathResponse">
<part name="parameters" element="tns:readTwoNumbersSimpleMathResponse"/>
</message>
<message name="readThreeNumbersSimpleMath">
<part name="parameters" element="tns:readThreeNumbersSimpleMath"/>
</message>
<message name="readThreeNumbersSimpleMathResponse">
<part name="parameters" element="tns:readThreeNumbersSimpleMathResponse"/>
</message>
<message name="subtractionSimpleMath">
<part name="parameters" element="tns:subtractionSimpleMath"/>
</message>
<message name="subtractionSimpleMathResponse">
<part name="parameters" element="tns:subtractionSimpleMathResponse"/>
</message>
<message name="multiplicationSimpleMath">
<part name="parameters" element="tns:multiplicationSimpleMath"/>
</message>
<message name="multiplicationSimpleMathResponse">
<part name="parameters" element="tns:multiplicationSimpleMathResponse"/>
</message>
<message name="divisionSimpleMath">
<part name="parameters" element="tns:divisionSimpleMath"/>
</message>
<message name="divisionSimpleMathResponse">
<part name="parameters" element="tns:divisionSimpleMathResponse"/>
</message>
<message name="potSquareSimpleMath">
<part name="parameters" element="tns:potSquareSimpleMath"/>
</message>
<message name="potSquareSimpleMathResponse">
<part name="parameters" element="tns:potSquareSimpleMathResponse"/>
</message>
<message name="splitNumbersMath">
<part name="parameters" element="tns:splitNumbersMath"/>
</message>
<message name="splitNumbersMathResponse">
<part name="parameters" element="tns:splitNumbersMathResponse"/>
</message>
<message name="splitMoreNumber">
<part name="parameters" element="tns:splitMoreNumber"/>
</message>
<message name="splitMoreNumberResponse">
<part name="parameters" element="tns:splitMoreNumberResponse"/>
</message>
<message name="sleepSomeSeconds">
<part name="parameters" element="tns:sleepSomeSeconds"/>
</message>
<message name="sleepSomeSecondsResponse">
<part name="parameters" element="tns:sleepSomeSecondsResponse"/>
</message>
<portType name="SimpleMathWebServiec">
<operation name="equalsSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/equalsSimpleMathRequest" message="tns:equalsSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/equalsSimpleMathResponse" message="tns:equalsSimpleMathResponse"/>
</operation>
<operation name="sqrtSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sqrtSimpleMathRequest" message="tns:sqrtSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sqrtSimpleMathResponse" message="tns:sqrtSimpleMathResponse"/>
</operation>
<operation name="modSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/modSimpleMathRequest" message="tns:modSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/modSimpleMathResponse" message="tns:modSimpleMathResponse"/>
</operation>
<operation name="readOneSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readOneSimpleMathRequest" message="tns:readOneSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readOneSimpleMathResponse" message="tns:readOneSimpleMathResponse"/>
</operation>
<operation name="differentSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/differentSimpleMathRequest" message="tns:differentSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/differentSimpleMathResponse" message="tns:differentSimpleMathResponse"/>
</operation>
<operation name="negativeSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/negativeSimpleMathRequest" message="tns:negativeSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/negativeSimpleMathResponse" message="tns:negativeSimpleMathResponse"/>
</operation>
<operation name="sumSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sumSimpleMathRequest" message="tns:sumSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sumSimpleMathResponse" message="tns:sumSimpleMathResponse"/>
</operation>
<operation name="readNumbersSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readNumbersSimpleMathRequest" message="tns:readNumbersSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readNumbersSimpleMathResponse" message="tns:readNumbersSimpleMathResponse"/>
</operation>
<operation name="readTwoNumbersSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readTwoNumbersSimpleMathRequest" message="tns:readTwoNumbersSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readTwoNumbersSimpleMathResponse" message="tns:readTwoNumbersSimpleMathResponse"/>
</operation>
<operation name="readThreeNumbersSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readThreeNumbersSimpleMathRequest" message="tns:readThreeNumbersSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/readThreeNumbersSimpleMathResponse" message="tns:readThreeNumbersSimpleMathResponse"/>
</operation>
<operation name="subtractionSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/subtractionSimpleMathRequest" message="tns:subtractionSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/subtractionSimpleMathResponse" message="tns:subtractionSimpleMathResponse"/>
</operation>
<operation name="multiplicationSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/multiplicationSimpleMathRequest" message="tns:multiplicationSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/multiplicationSimpleMathResponse" message="tns:multiplicationSimpleMathResponse"/>
</operation>
<operation name="divisionSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/divisionSimpleMathRequest" message="tns:divisionSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/divisionSimpleMathResponse" message="tns:divisionSimpleMathResponse"/>
</operation>
<operation name="potSquareSimpleMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/potSquareSimpleMathRequest" message="tns:potSquareSimpleMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/potSquareSimpleMathResponse" message="tns:potSquareSimpleMathResponse"/>
</operation>
<operation name="splitNumbersMath">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/splitNumbersMathRequest" message="tns:splitNumbersMath"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/splitNumbersMathResponse" message="tns:splitNumbersMathResponse"/>
</operation>
<operation name="splitMoreNumber">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/splitMoreNumberRequest" message="tns:splitMoreNumber"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/splitMoreNumberResponse" message="tns:splitMoreNumberResponse"/>
</operation>
<operation name="sleepSomeSeconds">
<input wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sleepSomeSecondsRequest" message="tns:sleepSomeSeconds"/>
<output wsam:Action="http://ws.simplemath/SimpleMathWebServiec/sleepSomeSecondsResponse" message="tns:sleepSomeSecondsResponse"/>
</operation>
</portType>
<binding name="SimpleMathWebServiecPortBinding" type="tns:SimpleMathWebServiec">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="equalsSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sqrtSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readOneSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="differentSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="negativeSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readNumbersSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readTwoNumbersSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readThreeNumbersSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtractionSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicationSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divisionSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potSquareSimpleMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="splitNumbersMath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="splitMoreNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sleepSomeSeconds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleMathWebServiec">
<port name="SimpleMathWebServiecPort" binding="tns:SimpleMathWebServiecPortBinding">
<soap:address location="http://192.168.13.128:8080/SimpleMathWS/SimpleMathWebServiec"/>
</port>
</service>
</definitions>